/*
* Variables Global
**/ 

$font-primary: 'Rebond Grotesque', sans-serif;
$font-second: 'TTCommons', sans-serif;


$font-size-h2: 6rem;
$font-size-h3: 4rem;
$font-size-h4: 2rem;
$font-size-p: 1.6rem;

// Colors
$color-primary: #FB2D42;
$color-second: #000000;
$color-third:#FFFFFF;
// $color-fourth: #ffffff;
// $color-fifth: #cfcfcf;