.header {
    min-height: 75px;

    &__logo {
        height: 100%;
        img {
        }
    }
    &__menu {
        ul {
            li {
                a {
                    font-family: "TT Commons", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: uppercase;
                    /* identical to box height */

                    color: #000000;
                    padding: 8px 34px;

                    border-radius: 5px;

                    &:hover {
                        background-color: $color-primary;
                        color: $color-third;
                    }
                }
            }
        }
    }
}
